@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #060606;
  color: #fff;
}
.acm_logo_navbar {
  position: relative;
  top: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.navigation {
  font-family: Matter, sans-serif;
  letter-spacing: -0.05em;
  box-sizing: border-box;
  position: relative;
  height: 58px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  backdrop-filter: blur(10px) saturate(200%);
  background-color: #1d1d1d80;
  border: 1px solid rgba(45, 46, 48, 0.5);
  box-shadow: 0 3px 20px -5px #00000026;
}

.glass {
  backdrop-filter: blur(10px) saturate(200%);
  background-color: #1d1d1d80;
  border: 1px solid rgba(45, 46, 48, 0.5);
  box-shadow: 0 3px 20px -5px #00000026;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.shiny-button {
  text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  color-scheme: dark;
  font-feature-settings: "kern";
  color: var(--chakra-colors-chakra-body-text);
  line-height: var(--chakra-lineHeights-base);
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  overflow-wrap: break-word;
  cursor: pointer;
  background-color: rgb(17, 17, 17);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(53, 53, 53);
  border-image: initial;
  padding: 0.4em 1.2em;
  border-radius: 50px;
  transition: 0.3s;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
